@charset "utf-8";
/* KO YEONJU */

/* PC */
/* type 1 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
button{border:0 none;background-color:transparent;cursor:pointer}
body{background:#fff}
body,th,td,input,select,textarea,button{font-size:12px;line-height:1.5;font-family:'돋움',dotum,sans-serif;color:#333}/* font-family, color 값은 디자인 가이드에 맞게 사용 */
a{color:#333;text-decoration:none}
a:active,a:hover{text-decoration:underline}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}

/* type 2 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,table,th,td,form,fieldset,legend,textarea,input,select,textarea,button,article,aside,dialog,footer,header,section,footer,nav,figure,main{margin:0;padding:0}
article,aside,dialog,footer,header,section,footer,nav,figure,main{display:block}
html,body{height:100%}
body,input,select,textarea,button{} /* 대표 font-family, font-size, color 지정 필요 */
fieldset,li,img{border:0;vertical-align:top}
ul,ol{list-style:none}
button{overflow:visible;border:0;background-color:transparent;cursor:pointer}
button::-moz-focus-inner{padding:0;border:0}
address,caption,em{font-style:normal}
a,a:focus,a:active,a:hover{text-decoration:none}
table{border-collapse:collapse;border-spacing:0}

/* mobile */
/* type 1 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
input,select,textarea,button{font-size:100%;vertical-align:middle}
button{border:0 none;background-color:transparent;cursor:pointer}
table{border-collapse:collapse;border-spacing:0}
body{-webkit-text-size-adjust:none}/* 뷰포트 변환시 폰트크기 자동확대 방지 */
input[type='text'],input[type='password'],input[type='submit'],input[type='search']{-webkit-appearance:none;border-radius:0}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file']{-webkit-appearance:button;border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
body{background:#fff}
body,th,td,input,select,textarea,button {font-size:14px;line-height:1.5;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;color:#333}/* font-family, color 값은 디자인 가이드에 맞게 사용 */
a:active,a:hover{text-decoration:none}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}

/* type 2 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,table,th,td,form,fieldset,legend,textarea,input,select,textarea,button,article,aside,dialog,footer,header,section,footer,nav,figure,main{margin:0;padding:0}
article,aside,dialog,footer,header,section,footer,nav,figure,main{display:block}
html,body{height:100%;-webkit-text-size-adjust:none;-ms-text-size-adjust:none}
body,input,select,textarea,button{font-family:;font-size:12px;color:#333}/* font-family, color 값은 디자인 가이드에 맞게 사용 */
fieldset,li,img{border:0;vertical-align:top}
ul,ol{list-style:none}
button{overflow:visible;border:0;background-color:transparent;cursor:pointer;outline:none}
button::-moz-focus-inner{padding:0;border:0}
address,caption,em{font-style:normal}
button,.btn{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent}/* 디바이스 기본 터치 영역 제거 */
a,a:focus,a:active,a:hover{text-decoration:none}
table{border-collapse:collapse;border-spacing:0}
input[type=text],input[type=checkbox],input[type=password],button{border:0 none;-webkit-appearance:none;appearance:none;-webkit-text-size-adjust:none;-webkit-border-radius:0;border-radius:0}
input:focus{outline:none}
::-webkit-input-placeholder{color:#777}
input:-moz-placeholder{color:#777}